*{
    background-color: black;
}
.container{
    color: white;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    background-color: rgb(3, 47, 20);
    grid-gap: 4px;
}
.btn{
    background-color: rgb(11, 189, 38);
    color: white;
    border-radius: 5px;
     padding: 20px;
    text-align: center;
    font-size: large;
    
}
h1{
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    color: white;
    font-size: 60px;
}
#input{
    grid-column: 1/4;
    color: black;
    border-radius: 5px;
    border: none;
    background-color: white;
}
#equal{
    background-color: blueviolet;
}
.btn:hover{
    background-color: rgb(68, 238, 116);
}
#equal:hover{
    background-color: rgb(195, 86, 243);
}
#input:focus{
    border: none;
}